:root {
    /* Colors */
    --primary-color: #2D2641;
    --secondary-color: #96A9C6;
    --heading-color: #2C2830;
    --paragraph-color: #837D88;
    --background-color: #FAFAFA;

    /* Fonts */
    --heading-font: 'DM Serif Display', serif;
    --paragraph-font: 'Karla', sans-serif;
}

/* Global Styles */

html,
body {
    font-family: var(--paragraph-font);
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

h2 {
    font-size: 4.5rem; /* 4.5 * 16 = 72px */
}

h3 {
    font-size: 3.5rem; /* 3.5 * 16 = 56px */
}

button {
    font-size: 0.8125rem; /* 0.8125 * 16 - 13px */
    font-weight: 700;
    background: none;
    border: 1px solid #2C2830;
    text-transform: uppercase;
    color: #2C2830;
    padding: 0.9375em 1.875em;
    letter-spacing: 0.09375em;
}

.wrapper {
    max-width: 69.4375rem;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER STYLES */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25em;
    max-height: 5em;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    padding: 0.3125em 0.875em;
   }

.nav-links {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8125rem;
    text-transform: uppercase;
    color: #837D88;
}

/* RESPONSIVE NAVBAR MENU START */
input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 1.5rem;
    user-select: none;
    outline: 1px solid;
    padding: 0.1875em 0.3125em;
}

.multiplication {
    display: none;
    font-size: 1.5rem;
    user-select: none;
    outline: 1px solid;
    padding: 0.1875em 0.3125em;
}

/* MEDIA QUERIES FOR HEADER */
@media (max-width: 768px) {
.menu {
    display: none;
    position: absolute;
    background-color: #2C2830;
    right: 0;
    left: 0;
    text-align: center;
    padding: 1em 0;
    margin-top: 1em;
}

.menu li+li {
    margin-top: 0.75em;
}

input[type=checkbox]:checked~.menu {
    display: block;
}

.hamburger {
    display: block;
}

input[type=checkbox]:checked~.hamburger {
    display: none;
}

input[type=checkbox]:checked~.multiplication {
    display: block;
}

.nav-links a {
    font-size: 0.8125rem;
    text-transform: uppercase;
    color: white;
}

button {
    background: none;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    padding: 0.9375em 1.875em;
    letter-spacing: 0.09375em;
}
} /*RESPONSIVE NAVBAR MENU END*/

/* FOOTER STYLES */
footer {
    background-color: var(--background-color);
    letter-spacing: 0.09375rem;
    padding: 5.3125rem 1.25rem; 
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

footer::before {
    content: '';
    background-image: url('../images/accent-8.svg');
    background-repeat: no-repeat;
    background-position: 90% -5%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

footer > * {
    position: relative;
    z-index: 100;
}

footer h4 {
    color: var(--paragraph-color);
    font-weight: 700;
    margin-bottom: 2.25rem;
}

footer li:not(.footer__social-media-icons li) {
    margin-bottom: 1.125rem;
}

.footer__top {
    border-bottom: 1px solid #DADADA;
    padding-bottom: 2.5rem;
}

.footer__bottom,
.footer__social-media,
.footer__col:not(:last-child) {
    margin-top: 2.5rem;
}

.footer__logo {
    margin-bottom: 1.875rem;
}

.footer__social-media-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__links {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
}

.footer__links:hover {
    text-decoration: underline;
}

.footer__bottom {
    font-size: 0.8125rem;
}

/* MEDIA QUERIES FOR FOOTER */
@media only screen and (min-width: 479px) {
    footer::before {
        background-position: revert;
    }
}

@media only screen and (min-width: 767px) {
    .footer__top,
    .footer__bottom {
      display: flex;
      justify-content: space-between;
      text-align: left;
    }

    .footer__top {
        padding-bottom: 0;
    }

    .footer__bottom {
        margin-top: 1.875rem;
    }

    .footer__col {
        margin-bottom: 0;
    }

    .footer__col:not(:last-child) {
        margin-top: 0;
    }

    .footer__social-media {
        border: none;
        margin: 0;
        padding: 0;
    }
  }

@media only screen and (min-width: 1280px) {
    .footer__bottom {
        justify-content: flex-start;
    }

    .footer__col:not(:last-child) {
        margin-top: 0;
        margin-right: 10.625rem;
    }
}

/* CTA Block Styles */
.ctablock {
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
    margin: 0 1.25em;
}

.ctablock:before {
    content: '';
    background-image: url('../images/accent-2.svg');
    background-repeat: no-repeat;
    background-position: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transform: scale(1.75);
    z-index: 1;
}

.ctablock > * {
  position: relative;
  z-index: 100;
}

.ctablock h3 {
    color: #ffffff;
    letter-spacing: -0.777778px;
    text-align: center;
}

.ctablock__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 4.375rem 0;
}

.ctablock__text {
    max-width: 29.6875rem;
    margin-bottom: 2.5rem;
}

.ctablock__button button {
    border-color: #ffffff;
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (min-width: 767px) {
    .ctablock {
        margin-left: auto;
        margin-right: auto;
    }

    .ctablock:before {
        transform: none;
    }

    .ctablock h3 {
        text-align: left;
    }
    
    .ctablock__container {
        flex-direction: row;
        margin: 0 5rem;
    }

    .ctablock__text {
        margin: 0;
    }
}
